* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.cold {
color: 
#16697A
#489FB5
#82C0CC
#EDE7E3
}

.rain {
color: 
#F0F3BD
#028090
#1A5E63
#00BFB2
}
.cloud {
color: 
#090C08
#474056
#4740567f
#757083
#aab0b9
}
.wind {
color: 
#495867
#577399
#BDD5EA
#F7F7FF
}
.main {
color:
#2E5266
#6E8898
#9FB1BC
#D3D0CB
}
.sunny {
    color:
    #211947
    #FAFF81
    #FFC53A
    #E06D06 ;
}
body{
    display: flex;
    flex-direction: column;
    color: #b8b8b8e0;
    text-shadow: black 0 0 4px;
    background-color: #444444;
}
#wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 600px;
    height: 500px; 
    margin-top: 10%;
    gap: 1rem;
    padding: 3rem;
    border: ridge 25px #0000004f;
    border-radius: 10px;
    box-shadow: black 0px 0px 15px;
}
select, input, label {
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: capitalize;
}
label {
    font-size: 2rem;
}
input, #submitBtn, #goBack {
    display: none;
}
select, input, #submitBtn, #goBack {
    width: 50%;
    align-self: center;
}
p {
    display: flex;
    justify-content: center;
}
.header {
    background-color: #212830;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: black 0px 0px 10px;
}
.footer {
    background-color: #212830;
    display: flex;
    height: 2rem;
    padding: 0rem 2rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: black 0px 0px 10px;
}
.footerDown {
    display: flex;
    gap: 1rem;
    font-size: 10px;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.app {
    display: flex;
    flex-direction: column;
    flex: 1;
}
a {
    text-decoration: none;
    color: #b8b8b8e0;
}
a:hover {
    opacity: .6;
    cursor: pointer;
}
#darkMode {
    background-color: transparent;
    border: none;
}
#darkMode:hover {
    opacity: .6;
    cursor: pointer;
}
.right {
    display: flex;
    gap: 3rem;
}
.right a {
    display: flex;
    align-self: center;
}
#moonIcon {
    width: 20px;
}
.darkMode {
    padding: 0;
    width: 0;
}
.dropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 210px;
}
.select {
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 220px;
    padding: .2rem 0;
}
#selection {
    padding: .5rem 0;
    margin-bottom: 1rem;
    background-color: #00000075;
}
#selection:hover {
    box-shadow: #A7C7E7 0 0 10px;
    cursor: pointer;
}
.option:hover {
    background-color: #00000075;
}
.option {
    display: none;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}
.options {
    background-color: #00000052;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    padding: .5rem 0;
}
h1 {
    letter-spacing: 2px;
}
#degreeInput {
    border-radius: 5px;
    border: none;
    background-color: #00000052;
    font-size: 14px;
    color: white;
}
.buttons {
    display: flex;
    width: 200px;
    gap: .2rem;
}
.btn {
    border-radius: 5px;
    border: none;
    padding: .4rem;
    font-size: 10px;
    background-color: #00000075;
    color: white;
    font-weight: bold;
}
.btn:hover {
    cursor: pointer;
    box-shadow: #A7C7E7 0 0 5px;
    background-color: #00000090;
}